.vscode/

##administrador
administrador/config/
administrador/models/DB.php

##financiero
financiero/config/
financiero/models/DB.php

financiero/config/
financiero/models/DB.php

##Secretaria
secretaria/config/
secretaria/models/DB.php

##Docente
docente/config/
docente/models/DB.php
docente/dompdf

##Estudiante
estudiante/config/
estudiante/models/DB.php

script.sql